<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Times New Romance.ttf</string>
		<string>Fasthand-Regular.ttf</string>
	</array>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Health app wants to access your health data in order to analyze your health and best advice</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Health app wants to access your health data in order to analyze your health and best advice</string>
</dict>
</plist>
